# Overrides for docker-compose.yml.
# Create a .env at project root only if you need to override any of these values
# (for example if a port is already in use.)

WEB_PORT=8080

POSTGRES_USER=portal
POSTGRES_PASSWORD=portal
POSTGRES_DB=portal